body {
    text-align: center;
    background-color: #FFEFE9;
    font-family: 'Times New Roman';
}

header {
    font-size: 30px;
    font-weight:bold;
    margin-top: 50px;
    margin-bottom: 50px;
}

p {
    font-size: medium;
    width: 70%;
    margin-left: 200px;
    margin-right: 50px;
}

h3 {
    text-align: center;
}

.codecademy {
    font-weight: bold;
}

.container {
    display: flex;
    justify-content: space-between;
}

b {
    margin-top: 20px;
    margin-bottom: 50px;
}

.headshot {
    margin-right: 150px;
    width: 175px;
    height:200px;
}