body {
    text-align: center;
    background-color: #FFDCD0;
    font-family: 'Times New Roman';
}

header {
    font-size: 30px;
    font-weight:bold;
    margin-top: 50px;
}

p {
    font-size: medium;
    text-align: center;
}

h3 {
    text-align: center;
}

.codecademy {
    font-weight: bold;
}